<section>
  <h1>Edit User</h1>

  <%= erb :'user/_errors' %>

  <form method="post">
    <p>
      <label for="username">Username</label>
      <input type="text" name="username" id="username" value="<%= h @user.username if @user %>"/>
    </p>
    <p>
      <label for="email">Email</label>
      <input type="text" name="email" id="email" value="<%= h @user.email if @user %>"/>
    </p>
    <p>
      <label for="password">Password 1<sup>st</sup></label>
      <input type="password" name="password" id="password"/>
    </p>
    <p>
      <label for="password_conf">Password 2<sup>nd</sup></label>
      <input type="password" name="password_conf" id="password_conf"/>
    </p>
    <p>
      <input type="submit" value="Save"/>
      <a href="/users/">Cancel</a>
    </p>
  </form>
</section>